{% extends 'base.html' %}


{% block content %}
<h1 class="display-5 mt-4">Летим {{ departures[departure] }}</h1>
<p class="mb-4">Найдено {{ tours.values() | selectattr("departure", "==", departure) | list | length }} туров,
    от {{ (tours.values() | selectattr("departure", "==", departure) | list | min(attribute="price")).price }}
    до {{ (tours.values() | selectattr("departure", "==", departure) | max(attribute="price")).price }}
    и от {{ (tours.values() | selectattr("departure", "==", departure) | min(attribute="nights")).nights }} ночей
    до {{ (tours.values() | selectattr("departure", "==", departure) | max(attribute="nights")).nights }} ночей
</p>
<!-- CARDS -->
<div class="row mt-5">
    {% for id, tour in tours.items() %}
    {% if tour["departure"]==departure %}
    <div class="col-4">
        <div class="card mb-4">
            <img src={{"" + tour["picture"] +""}} class="card-img-top img-fluid" alt="">
            <div class="card-body">

                <h2 class="h5 card-title">{{ tour["title"] }}</h2>
                <p class="card-text">{{ tour["description"] }}</p>
                <a href="/tours/{{ id }}/" class="btn btn-sm btn-primary">Подробнее</a>
            </div>

        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}